@model ExpenseTracker.Models.Saving

@{
    ViewData["Title"] = "Delete";
}

<div class="row col-md-7">
    <h2>Are you sure you want to delete this jar?</h2>
    <hr />
    <div>
        <dl class="row">
            <dt class = "col-sm-3">
                Jar Name
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.SavingName)
            </dd>
            <dt class = "col-sm-3">
                Amount Saved
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Amount)
            </dd>
            <dt class = "col-sm-3">
                Goal Amount
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.GoalAmount)
            </dd>
            <dt class = "col-sm-3">
                Date
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="SavingId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn back">Back to List</a>
        </form>
    </div>
</div>
