@model ExpenseTracker.Models.UserLogin

@{
    ViewData["PageTitle"] = "Login";
}

<div class="row align-items-center">
<span class="fw-bold">Welcome Back!</span> 
<p class="mb-4">Enter your credentials</p>
<div class="d-flex gap-4">
    <div class="col-11 col-lg-7">
        <div class="frame p-5">
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group d-grid gap-2">
                    <input type="submit" value="Login" class="btn custom-button btn-success" />
                    <span class="mt-2">Don't Have an Account? <a href="/Auth/Create" class="auth-text">Sign Up.</a></span>
                </div>
            </form>
        </div>
    </div>
    <div class="d-none d-lg-flex col-md-5 justify-content-center frame">
            <i class="bi bi-person-fill m-auto" style="color:#646e76; font-size: 6em"></i>
    </div>
</div>
</div>