<div class="d-flex">
    <div class="row">
        <div class="col-auto d-flex flex-column justify-content-center sidebar">
            <div class="d-flex flex-column align-items-center" style="background-color:#192734">
                <ul class="nav nav-pills nav-flush flex-column mx-auto text-start align-items-start">
                    <li class="nav-item">
                        <div class="d-flex flex-column">
                            <a href="/" class="nav-link py-5 px-2 side-link" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                                <i class="bi-house fs-1"></i>
                                <span class="category-name">Home</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex flex-column">
                            <a asp-controller="Transaction" asp-action="Index" class="nav-link py-5 px-2 side-link" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                                <i class="bi bi-cash-coin fs-1"></i>
                                <span class="category-name">Transactions</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex flex-column">
                            <a asp-controller="Category" asp-action="Index" class="nav-link py-5 px-2 side-link" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                                <i class="bi bi-bookmarks fs-1"></i>
                                <span class="category-name">Categories</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex flex-column">
                            <a asp-controller="Saving" asp-action="Index" class="nav-link py-5 px-2 side-link" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                                <i class="bi bi-piggy-bank fs-1"></i>
                                <span class="category-name">Savings</span>
                            </a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-sm ml-3 min-vh-100"></div>
    </div>
</div>