@*
*@
@{
}

<div class="d-grid">
    <div class="row">
        <div class="col-sm-auto sticky-top" style="background-color:#192734">
            <div class="d-flex flex-sm-column flex-row flex-nowrap align-items-center sticky-top" style="background-color:#192734">
                <div class="profile">
                   
                </div>
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                    <li class="nav-item">
                        <a href="/" class="nav-link py-3 px-2 side-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <i class="bi-house fs-1"></i>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Transaction" asp-action="Index" class="nav-link py-3 px-2 side-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                            <i class="bi bi-cash-coin fs-1"></i>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Category" asp-action="Index" class="nav-link py-3 px-2 side-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                            <i class="bi bi-bookmarks fs-1"></i>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Saving" asp-action="Index" class="nav-link py-3 px-2 side-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                            <i class="bi bi-piggy-bank fs-1"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-sm p-3 min-vh-100">
        </div>
    </div>
</div>