html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  font-family: "Inter"
}

*{
    font-family: "Inter"
}

body {
    margin-bottom: 60px;
    background-color: #15202b;
    color: #ffffff;
}

nav i:hover {
    cursor: pointer;
    transform: scale(1.05) translate(0px);
}

.main-content {
    flex: 1;
    margin-left: 50px;
}

.sidebar {
    transition: width 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2000;
    transition: width 0.3s ease;
    background-color: #192734;
    overflow-y: auto;
}

.sidebar:hover {
    width: 220px;
}

.category-name {
    display: none; 
    transition: opacity 0.3s ease;
    margin-left: 8px;
    text-
}

.sidebar:hover .category-name {
    display: inline; 
    opacity: 1;
    letter-spacing: 2px;
}

.side-link {
    color: #8899ac;
}

.side-link:hover {
    color: white;
}

.main-content {
        margin-left;
}

.btn {
    outline: none !important;
    box-shadow: none !important;
}

.custom-button {
     color: white;
     transition: transform 0.3s ease
}

.custom-button:hover {
     transform: scale(1.1);
     color: white;
 }

.dark {
    background-color: #192734;
    color: white;
    margin-bottom: 10px
}

.dark:focus {
    background-color: #192734;
    color: white;
    outline: none;
    box-shadow: none;
    border-color: white;
}

input[type="radio"]:checked {
    background-color: #38e54d;
}

.table td {
    padding: 14px;
    padding-left: 45px;
    background-color: #1a2735;
    border-bottom: none;
}

table tr:last-child td:first-child {
    border-radius: 0 0px 0px 7px;
}

table tr:last-child td:last-child {
    border-radius: 0px 0px 7px 0px;
}

.table th {
    padding: 14px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #141d26;
}

.table tr:hover td {
    background-color: #243447 !important;
}

table thead th:first-child {
    border-radius: 7px 0px 0px 0px;
}

table thead th:last-child {
    border-radius: 0px 7px 0px 0px;
}

.redirect {
        text-decoration: none !important;
        color: #ffffff !important;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .button-group input[type="radio"] {
        display: none;
    }

    .button-group label {
        position: relative;
        padding: 10px 20px;
        margin: 0 -3px;
        border: 2px solid #333;
        background-color: #fff;
        color: #333;
        text-align: center;
        cursor: pointer;
        z-index: 1;
        width: 100%;
    }

    #expense {
            border-radius: 10px 0px 0px 10px;
     }

    #income {
            border-radius: 0px 10px 10px 0px;
     }

.button-group input[type="radio"]:checked + label {
    background-color: #333;
    color: #fff;
    border-color: #fff;
}

    .button-group input[type="radio"] + input[type="radio"] + label {
        border-left-color: #333;
        border-right-color: #333;
    }

.logo {
    font-family: 'Poppins';
    color: white;
}

.pick-category {
    background-color: #192734;
    color: white;
    width: 100%;
    width: 100%;
    padding: 5px;
    padding-right: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.logo:hover {
    color: white;
}

.frame {
    background-color: #192734;
    border-radius: 1rem;
    max-width: 70vw;
}

    .frame .summary > div:first-child {
        background-color: #222b33;
        
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

     .frame .summary > div:first-child i {
         font-weight: bold;
     }

.span {
    background-color: #243447;
    border-radius: 7px 0px 0px 7px;
}

.saving-tr th{
    background-color: #182c25;
}

.saving-tr td {
    background-color: #2c4c3b;
}

label {
    margin-top: 7px;
    margin-bottom: 7px;
}

.back {
    background-color: #616d7b;
    color: white;
}

    .back:hover {
        background-color: #57626e;
        color: white;
    }

    .footer-content {
        padding-left:65px;
    }

.dropdown-item {
    color: black !important;
}

.dropdown-menu {
    overflow: hidden !important;
}

a {
    text-decoration: none !important;
}